# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Environment variables / secrets
.env
.env.*

# Packaging / build artifacts
build/
dist/
*.egg-info/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# OS/editor files
.DS_Store
.vscode/
.idea/

# Logs
*.log
free3DMouserigged3Dmodel/mouse_01.tga
free3DMouserigged3Dmodel/mouse.mtl
free3DMouserigged3Dmodel/mouse.obj
